.cabecalho{
    background-image: linear-gradient(#9999cc, #ccccff);
    width: min-content;

    }

.produtos{
    background-color: rgb(209, 209, 233);
    display: flex;
}

.produtos-logo{
    width: 20%;
}    

.lista-produtos{
    background-color: rgb(209, 209, 233);
    color: black;
}

.imagem-produtos{
    width: 20%;
}

.imagens-produtos-div{
    text-align: left;
}